* {
    margin: 0 auto;
}

.full-wrapper {
    height: 100%;
    width: 100%;

}

.container {
    width: 95%;

    @include query(600px) {
        width: 70%;
    }
}

.game-table {
    text-align: center;
    margin: 100px 0;

    @include query(600px) {
        margin: 0 auto; 
        margin-top: 100px;
        margin-bottom: 100px;
    }
}