.card {
    height: 200px;
    width: 200px;
    background-image: url("../img/back_small.png");
    display: inline-block;
    margin: 0 15px 15px 0;
    line-height: 140px;
    vertical-align: top;
    cursor: pointer;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform .3s ease;
    line-height: 75px;
}

.back-card,
.front-card {
        display: block;
        position: absolute;
        z-index: -1;
        top: 0px;
        left:0; 
}

.back-card .normal {
    display: none;
}

.match .back-card{
    display: none;
}
